.cam {
    width: 100%;
    height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.cam__container {
	width: 100%;
	height: 100%;
}

.cam__input {
	margin-top: 10px;
    height: 30%;
    width: 30%;
}

.app__videoFeed{
    width: 100%;
	height: 100%;
    border-radius: 5px;
}

.start-stop-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-top: 5px;
    width: 90%;
    height: 60%;
    border-radius: 5vh;
    border: 2px solid black;
    background-color: #404040;
    cursor: pointer;
    text-align: center;
    color: #cccccc;
}

.start-stop-button:hover{
    background-color:#808080 ;
    border: 2px solid #41a672;
}