.App {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #808080;
}

.sidebar {
  display: flex;
  justify-content: left;
  margin: 10px;
  float: left;
  width: 20%;
  height: calc(100vh - 20px);
  background-color: #525252;
  border-radius: 5px;
  -webkit-box-shadow: -2px 1px 15px 3px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 1px 15px 3px rgba(0, 0, 0, 0.75);
}

.functional-elements {
  display: flex;
  flex-direction: column;
}

.graph {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: calc(60vh - 40px);
  border-radius: 5px;
  background-color: #525252;
  margin: 10px;
  -webkit-box-shadow: -2px 1px 15px 3px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 1px 15px 3px rgba(0, 0, 0, 0.75);
}

.graph2 {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.graph-and-cam-container {
  display: flex;
}

.cam-container {
  width: 40%;
  height: calc(60vh - 40px);
  border-radius: 5px;
  background-color: #525252;
  margin: 10px;
  -webkit-box-shadow: -2px 1px 15px 3px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 1px 15px 3px rgba(0, 0, 0, 0.75);
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  float: right;
  width: 35%;
  height: 40vh;
  border-radius: 5px;
  background-color: #525252;
  -webkit-box-shadow: -2px 1px 15px 3px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 1px 15px 3px rgba(0, 0, 0, 0.75);
}
